PORT=5000
NODE_ENV=development
MONGO_URI=mongodb+srv://404eradb_user:zOecplRkUuxghYVN@cluster0.71ye66m.mongodb.net/404eradb_user?appName=Cluster0
JWT_SECRET=your_super_secret_jwt_key
JWT_EXPIRES_IN=7d
GEMINI_API_KEY=AIzaSyCLMZ_Ohwwqkv5zq_UYnPFKcfvUicVI7ZA
AI_PROVIDER=gemini
GOOGLE_CLIENT_ID= 491335867314-9d5l35lhi1c1ctcptc5jpmmmm4c7hs95.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=dummy_secret